[Unit]
Description=Go based Archlinux instructionset enabled repo build manager.
After=network.target

[Service]
User=alhp
Group=alhp
WorkingDirectory=/home/alhp/ALHP.GO
ExecStart=/home/alhp/ALHP.GO/ALHP.go
KillMode=mixed
TimeoutStopSec=5min
MemoryHigh=30G
CPUQuota=700%
Nice=15
CPUSchedulingPolicy=batch
IOSchedulingClass=best-effort
IOSchedulingPriority=7
IOWeight=100

[Install]
WantedBy=multi-user.target