<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>ALHP Status</title>

    <meta content="dark light" name="color-scheme">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.css"
          integrity="sha256-jtwIepgD1ro9ko1W5a6PAGr8IUIXA3FqBZPAXNYVREE=" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css"
          integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" rel="stylesheet">
    <style>
        .accordion:last-child {
            padding-bottom: 8vh;
        }

        .info-box {
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-info mb-5">
    <div class="container">
        <div class="d-flex justify-content-start">
            <span class="navbar-brand align-middle">ALHP Status</span>
            <span class="navbar-text">
            <a class="align-middle" href="https://git.harting.dev/anonfunc/ALHP.GO"><i
                    class="fa fa-gitea fs-4"></i></a>
          </span>
        </div>

        <div class="d-flex justify-content-end">
            <input type="search" placeholder="Search for packages.." class="form-control" id="table-sort-input"
                   title="Search for package"/>
        </div>
    </div>
</nav>

<div class="container">
    {{range $march := .March}}
    <h3>{{$march.Name}}</h3>
    <div class="accordion" id="accordion-{{$march.Name}}">
        {{range $repo := $march.Repos}}
        <div class="accordion-item bg-opacity-25">
            <h2 class="accordion-header" id="heading-{{$march.Name}}-{{$repo.Name}}">
                <button aria-controls="collapse-{{$march.Name}}-{{$repo.Name}}" aria-expanded="false"
                        class="accordion-button"
                        data-bs-target="#collapse-{{$march.Name}}-{{$repo.Name}}"
                        data-bs-toggle="collapse"
                        type="button">{{$repo.Name}}-{{$march.Name}}
                </button>
            </h2>
            <div aria-labelledby="heading-{{$march.Name}}-{{$repo.Name}}"
                 class="accordion-collapse collapse show"
                 data-bs-parent="#accordion-{{$march.Name}}" id="collapse-{{$march.Name}}-{{$repo.Name}}">
                <div class="accordion-body overflow-auto">
                    <table class="table table-sorted">
                        <thead>
                        <tr>
                            <th scope="col">Pkgbase</th>
                            <th scope="col">Status</th>
                            <th scope="col">Reason</th>
                            <th class="text-center" scope="col" title="link time optimization">LTO</th>
                            <th scope="col">SVN2GIT Version</th>
                            <th scope="col">{{$repo.Name}}-{{$march.Name}} Version</th>
                            <th class="text-end" scope="col">Info</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{range $pkg := $repo.Packages}}
                        <tr class="table-{{$pkg.Class}}"
                            id="{{$repo.Name}}-{{$march.Name}}-{{$pkg.Pkgbase}}">
                            <td>{{$pkg.Pkgbase}}</td>
                            <td>{{$pkg.Status}}</td>
                            <td>{{$pkg.Skip}}</td>
                            <td class="text-center fs-5">
                                {{if $pkg.LTO}}<i class="fa fa-check" style="color: var(--bs-success)"
                                                  title="build with LTO"></i>{{end}}
                                {{if $pkg.LTODisabled}}<i class="fa fa-times" style="color: var(--bs-danger)"
                                                          title="LTO explicitly disabled"></i>{{end}}
                                {{if $pkg.LTOUnknown}}<i class="fa fa-hourglass-o" title="not build with LTO yet"></i>{{end}}
                            </td>
                            <td>{{$pkg.Svn2GitVersion}}</td>
                            <td>{{$pkg.Version}}</td>
                            <td class="text-end info-box">
                                {{with $pkg.Log}}<a href="{{.}}" title="build log"
                            ><i class="fa fa-file-text"></i></a
                            >{{end}}
                                <a class="text-decoration-none fw-bold"
                                   href="https://archlinux.org/packages/?q={{$pkg.Pkgbase}}" title="Archweb">AW</a>
                                <a data-bs-html="true" data-bs-placement="bottom" data-bs-toggle="tooltip"
                                   href="#{{$repo.Name}}-{{$march.Name}}-{{$pkg.Pkgbase}}"
                                   title="{{if $pkg.BuildDate}}Build on {{$pkg.BuildDate}}&#10;{{end}}{{if $pkg.BuildDuration}}Build duration: {{$pkg.BuildDuration}}&#10;{{end}}Last checked on {{$pkg.Checked}}">
                                    <i class="fa fa-info-circle"></i></a>
                            </td>
                        </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{end}}
    </div>
    {{end}}
</div>

<footer class="text-center text-lg-start bg-dark mt-3 fixed-bottom">
    <div class="p-2 text-center">
        {{.Latest}} <span class="text-primary">build</span> {{.Queued}} <span class="text-secondary">queued</span>
        {{.Skipped}} <span
            class="text-secondary">skipped</span> {{.Failed}} <span class="text-danger">failed</span> || <span
            class="text-muted">{{.Generated}}</span>
    </div>
</footer>

<script crossorigin="anonymous"
        integrity="sha256-9SEPo+fwJFpMUet/KACSwO+Z/dKMReF9q4zFhU/fT9M="
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let input = document.getElementById('table-sort-input');
    let timeout = null;

    input.addEventListener('input', function (e) {
        clearTimeout(timeout);

        timeout = setTimeout(searchFilter, 200);
    });

    function searchFilter() {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('table-sort-input')
        filter = input.value.toUpperCase()
        const tables = document.getElementsByClassName('table-sorted');
        for (let j = 0; j < tables.length; j++) {
            tr = tables[j].getElementsByTagName('tr')
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[0]
                if (td) {
                    txtValue = td.textContent || td.innerText
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = ''
                    } else {
                        tr[i].style.display = 'none'
                    }
                }
            }
        }
    }
</script>
</body>
</html>
